/firestore-places/node_modules
/firestore-places/.env
/firestore-places/serviceAccountKey.json

/backend-firestore/node_modules
/backend-firestore/.env
/backend-firestore/serviceAccountKey.json

/backend-mongoDB/node_modules
/backend-mongoDB/.env