/backend-postgreSQL/node_modules
/backend-postgreSQL/.env

/backend-firestore/node_modules
/backend-firestore/.env
/backend-firestore/serviceAccountKey.json

/backend-mongoDB/node_modules
/backend-mongoDB/.env

/frontend/node_modules
/frontend/.env
```

/frontend-realm/node_modules
/frontend-realm/.env

/frontend-connect-to-backend/node_modules
```